
.home-header {
  text-align: center;

  .blog-avatar {
    height: 140px;
    width: 140px;
    background-position: center;
    background-size: cover;
    margin: 1em auto;
  }

  .blog-description {
    font-size: 16px;
    color: red;
    line-height: 30px;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    font-family: 'Inconsolata', monospace;
    border-bottom: 1px solid red;
  }
}
