.blog-posts {
  .post-summary {
    margin-bottom: 3rem;
    color: red;
    background-color: #ffd6dc;


    h2 {
      margin: 0;
      color: red;
      text-align: left;
    }

    .blog-post-meta {
      margin-bottom: 8px;
      font-size: 24px;
      font-family: "Reenie Beanie", sans-serif;
      color: red;
    }
  }
}
