@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

.post-quote {
  blockquote {
    font-family: 'Inconsolata', monospace;
    margin-bottom: 2rem;
    display: inline-block;
    border-style: dashed;
    border-width: 1px;
    font-size: 18px;


    @media screen and (min-width: $min-width-emph) {
      width: 105%;
      margin-left: -2.5%;;
      padding: 2.5%;
    }

    &:before {
      content: "« "
    }

    &:after {
      content: " »"
    }
  }
}
