* {
  -webkit-font-smoothing: antialiased;
}
::selection {
  background: #FFF7C7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #FFF7C7; /* Gecko Browsers */
}

html{
  background-color: lavenderblush;
  height: 100%;
}

body {
  background-color: lavenderblush;
  padding: 3rem 0 0 0;
  color: red;
  line-height: 1.5;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;

  @media (max-width: $max-width-sm) {
    padding-top: 1rem;
  }
}

.container {
  max-width: 700px;
  margin: auto;

  @media (max-width: $max-width-sm) {
    padding: 0 20px;
  }
}
