footer {
  color: red;
  font-family: $font-sans-serif;
  font-family: "Reenie Beanie", sans-serif;
  font-size: 16px;
  font-style: italic;
  text-align: center;

  p {
    border-top: 1px solid red;
    padding: 2rem 0;
    margin-bottom: 0;
  }

  a {
    font-weight: bold;
    color: red;

  }

  .footer-logo {
    width: 30px;
    margin-top: 10px;
  }
}
