
.post-header {
  padding: 20px;

  .back {
    color: red;
    display: block;
    max-width: 700px;
    margin: 0 auto 2em auto;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;

    &:before {
      content: '←';
      display: inline-block;
      position: relative;
      margin-right: 8px;
    }

    a {
      color: red;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
